/* main text color #2E2F42 */
/* second color textdark  #434455 */
/* backgroud color dark #2E2F42 */
:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --backgroud-color-dark: #2e2f42;
  --blue-main-color: #4d5ae5;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --blue-button: #404bbf;
}

body {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  background-color: var(--white-color);
}
.header {
  background-color: var(--white-color);
  text-decoration: none;
}
.nav-list {
  list-style: none;
  text-decoration: none;
}
.site-nav {
  list-style: none;
}

/* LOGO */
.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logoblue {
  color: var(--blue-main-color);
}
.logowhite {
  color: var(--light-color);
}
/* Site nav */

.nav-link {
  text-decoration: none;
  color: var(--main-text-color);
  list-style: none;
  letter-spacing: 0.02em;

  font-weight: 500;

  line-height: 1.5px;
}
.contacts .contacts-link:hover {
  color: var(--blue-main-color);
}
.contacts .contacts-link:focus {
  color: var(--blue-main-color);
}

.nav-link:hover {
  color: var(--blue-main-color);
}

.nav-link:focus {
  color: var(--blue-main-color);
}
.site-nav .nav-link:hover {
  color: var(--blue-main-color);
}
.site-nav .nav-link:focus {
  color: var(--blue-main-color);
}

.contacts-link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  line-height: 1.5em;

  letter-spacing: 0.02em;
}
.contacts {
  list-style: none;
}
/* hero */
.hero {
  background-color: var(--main-text-color);
}
.hero-title {
  font-style: normal;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-button {
  background-color: var(--blue-main-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--footer-text-color);
  color: var(--blue-main-color);
}

/* Abouts our str */
.about-list {
  list-style: none;
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about-text {
  line-height: 1.5;
}
/* Works */
.works-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.works-list,
.team-list {
  list-style: none;
}
/* Our team */
.team {
  background-color: var(--light-color);
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-role {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Footer */
.footer {
  background-color: var(--main-text-color);
}
.footer-text {
  color: var(--footer-text-color);

  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Buttons Light Portfolio */
.buttons-list {
  list-style: none;
}
.button-light {
  background-color: var(--light-color);
  color: var(--blue-main-color);
  font-weight: 500;
  line-height: 1.5;
}
.button-light:hover {
  background-color: var(--blue-button);
  color: var(--white-color);
}
.button-light:focus {
  background-color: var(--blue-button);
  color: var(--white-color);
}
/* Apps collection */
.apps-list {
  list-style: none;
}
.apps-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}
.apps-type {
  color: var(--second-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.apps-link {
  text-decoration: none;
}
